@CHARSET "UTF-8";

body {
	background-image: url('../img/bg.png');
	font-family: Arial;

	overflow-x: hidden;
	letter-spacing: 0px;
	font-size: 16px;
}

#main-display {
	width: 900px;
	margin: 0 auto;
	margin-top: 100px;
}

.login-btn {
	background-color: #333;
	border-radius: 5px;
	border: 1px solid #AAA;
	width: 210px;

	display: inline-block;
	margin: 5px;
	padding: 3px;
}

.login-btn span {
	color: white;
	text-decoration: none;
	vertical-align: middle;
}

.login-btn img {
	vertical-align: middle;
}

.card {
	width: 60%;
	min-height: 250px;
	
	background-color: white;
   	border: 3px solid black;
	box-shadow: 2px 2px 12px #333;

	position: absolute;
	left: 110%;
	top: 15%;
	display: none;
}

.card h2 {
	color: white;
	background-color: black;

	padding: 5px;
	margin: 0;
	
	font-size: 1.5em;
	font-weight: normal;

	cursor: pointer;
}

.card p {
	padding: 5px;
}

h1 {
	font-family: 'Pontano Sans', sans-serif;
	font-size: 3em;
	margin: 0 0 5px 0;
	padding: 0;

	position: absolute;
	top: 15%;
	left: 20%;

	text-shadow: #333 3px 2px 8px;
}

h1 .cp_first {
	color: white;
}

h1 .cp_second {
	color: #c4d6ff;
}

#navigation {
	position: absolute;
	top: 20%;
	left: 70%;
}

#navigation div {
	display: inline-block;
	font-size: small;
	font-family: 'Pontano Sans', sans-serif;
	font-weight: bold;
	color: #e0e0e0;
	text-decoration: underline;
	letter-spacing: 1px;
	vertical-align: middle;
	cursor: pointer;
}

#navigation a {
	color: #e0e0e0;
}

#navigation img {
	position: relative;
	top: 3px;
	margin-right: 3px;
}

#navigation #filter_btn {
	margin-right: 10px;
}

#card-stack {
	margin: 0;
	padding: 0;
}

.deck-icon {
	width: 182px;
	height: 120px;

	vertical-align: middle;
	margin: 5px;
	
	cursor: pointer;
}
#deck-bench-label {
	font-size: small;
	color: #444;
	margin: 0 0 10px 0;
	padding: 0;
}

.deck-icon p {
	text-align: center;	
	margin: 0;
	padding: 0;

	position: relative;
	top: 30%;
}

.deck-size-sm {
	background-image: url('/static/img/deck-1.png');
	background-repeat: no-repeat;
}

.deck-size-med {
	background-image: url('/static/img/deck-2.png');
	background-repeat: no-repeat;
}

.deck-size-lg {
	background-image: url('/static/img/deck-3.png');
	background-repeat: no-repeat;
}
