<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="underscore.js"></script>
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="backbone.js"></script>
    <script type="text/javascript" src="regis.js"></script>
  </head>

  <body>
    <div id='main-display'>
      <h1 id="codepath-title"><span class="cp_first">code</span><span class="cp_second">path</span></h1>
      <div id="navigation">
         <div id="filter_btn"><img src="filter.png" />filters</div>
         <div id="profile_btn"><img src="profile.png" />profile</div>
      </div>
      <div id='card-stack'>
      </div>
    </div>
  </body>

</html>
